*{

    background-color: rgb(185, 41, 72);
    font-family:Dancing Script;
    
}

#menusuperior {
     background-color: rgb(195, 176, 35);
     color: rgb(2, 10, 35);

}

#menuinformativo {
    background-color: rgb(7, 59, 63);
    display: grid;
    grid-auto-flow: column;
    columns:auto;

}

.textoinformativo {
    display:grid;
    align-items:center;
    font-size:40px;
    font-weight:bolder;
    padding: 75px;
    margin-left:20px;

}

.spaninformativo{
    font-size:20px;
    font-weight:normal;

}

#menuconteudo {
    background-color: rgb(61, 205, 25);
    display: grid;
    grid-auto-flow: column;
    columns:auto;
}
    #image {
        margin: 100px 25px 100px 100px 
        
}

 #textoconteudo {
    text-align: justify;
    font-size: 40px;
    font-weight: bolder;
    margin: 260px 25px 50px 100px;
}

#image, #textoconteudo, #formulario {
    visibility: hidden;
}

#spanconteudo {
    text-align: justify;
    font-size: 24px;
    font-weight: normal;
}

#formulario {
    background-color: rgb(204, 195, 19);
    text-align: center;
}

#tituloformulario {
    font-size: 32px;
    padding: 70px 70px 20px 70px;
    color: blue;
}

input {
    width: 400px;
    height: 60px;
    background-color: blueviolet;
    margin: 25px;
    border: 1px;
    border-radius: 10px;
    padding-left: 10px;
}
button{
    background-color: #c07212;
    height: 70px;
    width: 220px;
    color: #eaece5;
    border: 0px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-weight: bolder;
    font-size: 30px;
    cursor: pointer;
}
button.hoverr{
    background-color: #f88e0c;
    color: whith;
    transform: translateY(-3px);
    box-shadow: 0px 10px 15px #f1bd73;
    transition-duration: 0.3s; 
}