*{

    background-color: rgb(147, 118, 173);
    font-family:Dancing Script;
    
}
#menusuperior {
     background-color: blueviolet;
     color: rgb(100, 126, 205);
}
#menuinformativo {
    background-color: rgb(103, 79, 198);
    display: grid;
    grid-auto-flow: column;
    columns:auto;
}
.textoinformativo {
    display:grid;
    align-items:center;
    font-size:40px;
    font-weight:bolder;
    padding: 75px;
    margin-left:20px;

}
.spaninformativo{
    font-size:20px;
    font-weight:normal;
    }